{% load static %}
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>
      WebApp -{% block title %}

      {% endblock %}
    </title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="{% static '/images/app_64.ico' %}" />
    <link rel="stylesheet" href="{% static 'bootstrap5/css/bootstrap.min.css' %}" />
    <script src="{% static 'bootstrap5/js/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/background.css' %}" />
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}" />
  </head>
  <body>
    {% block body %}

    {% endblock %}
  </body>
</html>
